# Python virtual environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django database & media/logs
*.sqlite3
*.sqlite3-journal
*.log
local_settings.py

# Editor and OS files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
